.nav {
    border: 0px;
    // border-top: 1px solid $line-grey;
    // border-bottom: 1px solid $line-grey;
    padding: 10px 0 10px;

    ::-webkit-input-placeholder {
  color: white;
}

    ul {
      float: left;
      margin: 0;
      li {
        margin: 0px 5px 0px 0px;
      }
    }
    .button.navButtons {
      border-radius: 0px;
      color: $text-color-white;
    }

    button {
      border-radius: 0px
    }

    .search-input {
      input {
        border-radius: 0px;
        float: right;
        margin: 0;
        padding: 0;
        width: 264px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        padding-left: 5px;
        border: 1px solid $line-grey;
      }
    }

    // form {
    //   margin: 0;
    //   float: right;
    //   button {
    //     float: right;
    //   }
    //   input {
    //     float: left;
    //   }
    // }
    //
    // input.searchArea.searchInput {
    //   border-radius: 0px;
    // }
    //
    // .searchArea {
    //   margin: 0
    // }
    //
    // .searchInput {
    //   width: 200px;
    //   margin-right: 10px;
    // }

    .angucomplete-dropdown {
  top: 45px;
  right: 0%; /* compute the left side of the angucomplete-alt element here, for me it was 25% */
}
}
