.dashboard.container {
  min-width: 1200px;
  height: calc(100vh - 60px);
  .row {
    height: 100%;
  }
  .columns {
    height: 100%;
  }
  section {
    border: 1px solid $line-grey;
    box-sizing: border-box;
    overflow: hidden;
  }
  table {
    max-height: 100%;
    margin: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    th, td {
      padding: 5px;
      text-align: left;
    }
    thead {
      border-bottom: 1px solid #E1E1E1;
    }
    tbody {
      tr:nth-child(even) {
        background-color: $alternate_row_background_color;
      }
    }
  }
  .dashboard.title {
    height: 30px;
    border-bottom: 1px solid $line-grey;
    padding-left: 10px;
  }

  h6 {
    line-height: 30px;
    margin: 0;
    padding: 0;
  }


    td {
      border-bottom: 0px solid black;
    }

    th {
      border-bottom: 0px solid black;
    }

}


@media (min-width: 550px) {
  .dashboard.container {
    .six.columns {
      width: 50%;
      margin-left: 0;
    }
  }
}
