.modelNavButtons {
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  border-radius: 0px;
  color: white;
}

.statement-tab {
  height: calc(100vh - 60px);

  .statement-tab-nav {
    height: 60px;
    border-bottom: 1px solid $line-grey
  }
  .sheet {
    height: calc(100vh - 120px);
    overflow-y: auto;

    tbody {
      overflow-y: auto;
      height: 100%;
    }

    .no_border {
      border: none;
    }

    th {
      // border: none;
      text-align: center;
    }

    td {
      height: 20px;
      padding: 0;
      text-align: center;
    }

    td:first-child, th:first-child {
      text-align: left;
    }
  }
}
