$column1-width: 257px;
$column-width: 145px;


.modelNavButtons {
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  border-radius: 0px;
  color: white;
}

.statement-tab {
  height: calc(100vh - 60px);

  .statement-tab-nav {
    height: 60px;
  }
  .sheet {

    table {
      border-collapse: collapse;
      border: 1px solid $line-grey;
      th, td {
        padding: 5px;
        text-align: left;
        border: none;
      }
      thead {
        display: block;
        height: 25px;
        border-bottom: 1px solid $line-grey;
        tr {
          th {
            width: $column-width;
          }
          th:nth-child(1) {
            width: $column1-width;
          }
        }
      }
      tbody {
        display: block;
        max-height: calc(100vh - 150px);
        overflow-y: auto;
        tr:nth-child(even) {
          background-color: $alternate_row_background_color;
        }
        tr {
          td {
            width: $column-width;
          }
          td:nth-child(1) {
            width: $column1-width;
          }
        }
      }
    }

  }
}
