
  <div class="dashboard container">
    <div class="row">
      <div class="six columns">


        <section class="tile watchlist">
          <div class="dashboard title">
            <p>Watchlist</p>
          </div>
          <div class="watchlist" ng-controller="companyWatchlistCtrl as watchlist">
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Ticker</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>% Move</th>
                  <!-- <th class="table-title">WATCHLIST</th> -->
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="stock in watchlist.stockData">
                  <td>{{ stock.Symbol }}</td>
                  <td>{{ stock.Name }}</td>
                  <td>{{ stock.LastTradePriceOnly }}</td>
                  <td>{{ stock.ChangeinPercent }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="tile dashboard chart">
          <div class="dashboard title">
            <!-- <button>SHOW PE CHART</button>
            <button>SHOW EV CHART</button> -->
            <p>Chart Title</p>
          </div>
          <div ng-controller="ChartCtrl as ChartCtrl" class="canvas-container">
            <canvas id="line" class="chart chart-line" chart-data="ChartCtrl.data"
            chart-series="ChartCtrl.series" chart-options="ChartCtrl.options"
            chart-labels="ChartCtrl.labels"
            chart-dataset-override="ChartCtrl.datasetOverride" chart-click="ChartCtrl.onClick">
            </canvas>
          </div>
        </section>

      </div>

      <div class="six columns">
        <div ng-controller="newsfeedCtrl as newsfeed" class="newsfeed-container">

          <section class="tile newsfeed">
            <table class="u-full-width scrollable">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Headline</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="article in newsfeed.newsItems">
                  <td>{{ article.pubDate }}</td>
                  <td><a href="{{ article.link }}">{{ article.title }}</a></td>
                </tr>
              </tbody>
            </table>
          </section>

          <section class= " tile fx-matrix">
            <div ng-controller= "currencyFxCtrl as fxCtrl" ng-show="fxCtrl.fxFinished">
              <div class="dashboard title">
                <p>Currency FX</p>
              </div>
              <table class="u-full-width">
                <thead>
                  <tr>
                    <th></th>
                    <th>USD</th>
                    <th ng-repeat="fx in fxCtrl.currencyData">{{ fx.Symbol.substr(0,3) }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>USD</strong></td>
                    <td></td>
                    <td>{{ (1 / fx.currencyData[0].LastTradePriceOnly).toPrecision(4) }}<br> {{ ((1 / (fx.currencyData[0].LastTradePriceOnly) - (1 / (fx.currencyData[0].LastTradePriceOnly - fx.currencyData[0].Change ))) * 10000).toFixed(0)  }}</td>
                    <td>{{ (1 / fx.currencyData[1].LastTradePriceOnly).toPrecision(4) }}<br> {{ ((1 / (fx.currencyData[1].LastTradePriceOnly) - (1 / (fx.currencyData[1].LastTradePriceOnly - fx.currencyData[1].Change ))) * 10000).toFixed(0)  }}</td>
                    <td>{{ (1 / fx.currencyData[2].LastTradePriceOnly).toPrecision(4) }}<br> {{ ((1 / (fx.currencyData[2].LastTradePriceOnly) - (1 / (fx.currencyData[2].LastTradePriceOnly - fx.currencyData[2].Change ))) * 10000).toFixed(0)  }}</td>
                    <td>{{ (1 / fx.currencyData[3].LastTradePriceOnly).toPrecision(4) }}<br> {{ ((1 / (fx.currencyData[3].LastTradePriceOnly) - (1 / (fx.currencyData[3].LastTradePriceOnly - fx.currencyData[3].Change ))) * 10000).toFixed(0)  }}</td>
                  </tr>
                  <tr ng-repeat="fx in fxCtrl.currencyData">
                    <td><strong>{{ fx.Symbol.substr(0,3) }}</strong></td>
                    <td>{{ (fx.LastTradePriceOnly).toPrecision(4) }}{{ fx.ChangePips }}</td>
                    <td>{{ fx.crossCurrencies[0] }} {{ fx.crossCurrencyChanges[0] }}</td>
                    <td>{{ fx.crossCurrencies[1] }} {{ fx.crossCurrencyChanges[1] }}</td>
                    <td>{{ fx.crossCurrencies[2] }} {{ fx.crossCurrencyChanges[2] }}</td>
                    <td>{{ fx.crossCurrencies[3] }} {{ fx.crossCurrencyChanges[3] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

          <section class="tile filing-feed">
            <div class="watchlistRSS">
              <table class="u-full-width">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Ticker</th>
                    <th>Filing</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="filing in newsfeed.filingItems">
                    <td>{{ filing.date.to_s }}</td>
                    <td>{{ filing.ticker }}</td>
                    <td><a href="{{ filing.link }}">{{ filing.title }}</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

        </div>
      </div>
    </div>
  </section>
</div>
