$column1-width: 67px;
$column-width: 98px;


.dashboard section.fx-matrix {
  height: 40%;

  div.fx-matrix {
    height: calc(100% - 30px);
  }

  table {
    thead {
      display: block;
      height: 25px;
      tr {
        th {
          width: $column-width;
        }
        th:nth-child(1) {
          width: $column1-width;
        }
      }
    }
    tbody {
      display: block;
      // height: calc(50vh - 104px);
      // overflow-y: auto;
      tr {
        td {
          width: $column-width;
          padding: 4px;
        }
        td:nth-child(1) {
          width: $column1-width;
        }
      }
    }
  }


}
