.dashboard section.fx-matrix {
  height: 40%;

  div.fx-matrix {
    height: calc(100% - 30px);
    // overflow-y: auto;
  }
  table {
    padding: $table-padding;
    margin: $table-margin;

    border-spacing: 4px;
    // font-size: 1rem;

    th, td {
      width: 15px;
      padding: 2px;
    }
  }
}
