$column1-width: 100px;
$column2-width: 100px;
$column3-width: 368px;


.dashboard section.filing-feed {
  height: 27%;


  div.filing-feed {
    height: calc(100% - 30px);
  }

  table {
    thead {
      display: block;
      height: 25px;
      tr {
        th:nth-child(1) {
          width: $column1-width;
        }
        th:nth-child(2) {
          width: $column2-width;
        }
        th:nth-child(3) {
          width: $column3-width;
        }
      }
    }
    tbody {
      display: block;
      height: calc(50vh - 89px);
      overflow-y: auto;
      tr {
        td:nth-child(1) {
          width: $column1-width;
        }
        td:nth-child(2) {
          width: $column2-width;
        }
        td:nth-child(3) {
          width: $column3-width;
        }
      }
    }
  }
}
