$column1-width: 84px;
$column2-width: 494px;


.newsfeed-container {
  height: 100%;
}


.dashboard section.newsfeed {
  height: 33%;

  div.newsfeed {
    height: calc(100% - 30px);
  }

  table {
    thead {
      display: block;
      height: 25px;
      tr {
        th:nth-child(1) {
          width: $column1-width;
        }
        th:nth-child(2) {
          width: $column2-width;
        }
      }
    }
    tbody {
      display: block;
      height: calc(50vh - 89px);
      overflow-y: auto;
      tr {
        td:nth-child(1) {
          width: $column1-width;
        }
        td:nth-child(2) {
          width: $column2-width;
        }
      }
    }
  }

}
