@import "variables";
html, body {
  color: #FFF;
  background-color: $primary-color;
  margin: 0 auto;
  max-height: 100vh;
  font-size: $font-size;
}
.six.columns {
  margin: 0 auto;
}

.container {
    max-width: 1200px;

    @media (min-width: 400px) {
      width: 100%;
    }
}

// 
// section {
//   border: $section-border;
//
// }
.row {
  margin: 0 auto;
}

//  To incorporate
// body {
//   background: $primary-color;
//   font-family: $body-font;
// }
