// COLORS
$primary-color: #1E1E29;

// TABLES
$table-cell-padding: 2px;
$table-padding: 10px;
$table-margin: 5px;

$header_background_color: red;
$header_text_color: #FDFDFD;
$alternate_row_background_color: #444;

$column_one_width: 100px;
$column_two_width: 200px;
$column_three_width: 350px;
$table_body_height: 400px;

// Dashboard
$font-size: 0.8rem;
$section-border: 0.1rem solid #EFE;
