// Import all of your scss files here
@import "modules/navbar";

.watchlist {
  font-size: 12px;
}

nav {
  li {
    display: inline-block;
  }

  table {
    text-align: center;
  }
}

.fxMatrix {
  font-size: 12px;
  text-align: right;
  td {
    width: 50px;
  }
}
