<div class="watchlist">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Name</th>
        <th>Price</th>
        <th>% move</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in home.stockData">
        <td>{{ stock.Symbol }}</td>
        <td>{{ stock.Name }}</td>
        <td>{{ stock.LastTradePriceOnly }}</td>
        <td>{{ stock.ChangeinPercent }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="fxMatrix" ng-show="home.fxFinished">
  <table class="u-full-width">
    <thead>
      <tr>
        <th></th>
        <th>USD</th>
        <th ng-repeat="fx in home.currencyData">{{ fx.Symbol.substr(0,3) }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>USD</strong></td>
        <td></td>
        <td>{{ (1 / home.currencyData[0].LastTradePriceOnly).toPrecision(4) }}<br> {{ ((1 / (home.currencyData[0].LastTradePriceOnly) - (1 / (home.currencyData[0].LastTradePriceOnly - home.currencyData[0].Change ))) * 10000).toFixed(0)  }}</td>
        <td>{{ (1 / home.currencyData[1].LastTradePriceOnly).toPrecision(4) }}<br> {{ ((1 / (home.currencyData[1].LastTradePriceOnly) - (1 / (home.currencyData[1].LastTradePriceOnly - home.currencyData[1].Change ))) * 10000).toFixed(0)  }}</td>
        <td>{{ (1 / home.currencyData[2].LastTradePriceOnly).toPrecision(4) }}<br> {{ ((1 / (home.currencyData[2].LastTradePriceOnly) - (1 / (home.currencyData[2].LastTradePriceOnly - home.currencyData[2].Change ))) * 10000).toFixed(0)  }}</td>
        <td>{{ (1 / home.currencyData[3].LastTradePriceOnly).toPrecision(4) }}<br> {{ ((1 / (home.currencyData[3].LastTradePriceOnly) - (1 / (home.currencyData[3].LastTradePriceOnly - home.currencyData[3].Change ))) * 10000).toFixed(0)  }}</td>
      </tr>

      <tr ng-repeat="fx in home.currencyData">
        <td><strong>{{ fx.Symbol.substr(0,3) }}</strong></td>
        <td>{{ (fx.LastTradePriceOnly).toPrecision(4) }}<br>{{ fx.ChangePips }}</td>
        <td>{{ fx.crossCurrencies[0] }}<br>{{ fx.crossCurrencyChanges[0] }}</td>
        <td>{{ fx.crossCurrencies[1] }}<br>{{ fx.crossCurrencyChanges[1] }}</td>
        <td>{{ fx.crossCurrencies[2] }}<br>{{ fx.crossCurrencyChanges[2] }}</td>
        <td>{{ fx.crossCurrencies[3] }}<br>{{ fx.crossCurrencyChanges[3] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="watchlistRSS">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Time</th>
        <th>Headline</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="article in home.newsItems">
        <td>{{ article.pubDate }}</td>
        <td><a href="{{ article.link }}">{{ article.title }}</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="watchlistRSS">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Time</th>
        <th>Ticker</th>
        <th>Filing</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="filing in home.filingItems">
        <td>{{ filing.date.to_s }}</td>
        <td>{{ filing.ticker }}</td>
        <td><a href="{{ filing.link }}">{{ filing.title }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
