<h1>Login</h1>
<form ng-submit="login.login()">
  <div class="row">
    <div class="six columns">
      <div class="form-group">
        <input class="form-control u-full-width" type="email" name="email" ng-model="login.user.email" placeholder="Email">
      </div>
      <div class="form-group">
        <input class="form-control u-full-width" type="password" name="password" ng-model="login.user.password" placeholder="Password">
      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </div>
</form>
